
<div class="container">
  <div ng-controller="AssignTaskController">
  <h1 id="welcome" class="lead">Assign task for {{selectedSecondaryUser.first_name}}</h1>
  </div>

    <form ng-submit="addAssignedTask(assignedTask)">
      <div>
          <label for="taskdate">Date:</label>
          <input type="date" ng-model="assignedTask.date"/>
      </div>

      <div>
          <label for="task_selector">Task:</label>
          <select class="" name="" ng-model="assignedTask.task" ng-options="task.name for task in taskObject.taskList"/>
            <option value="Choose a task"></option> <br>
      </div>

      <div>
          <input class="btn btn-default" type="submit" name="submit" value="Assign Task"/>
          <br>
      </div>
    </form>
                <div ng-repeat= "task in assignedTaskObject.assignedTask">
                  <p>{{task.task_name}}</p>
                </div>
    <a href="#user">Cancel</a>





</div>
