<div class="container">
  <h1 class="lead">Register New Account</h1>
  <form ng-submit="register(user)">
    <div class="form-group">
        <label for="username">Email Address:</label>
        <input class="form-control" type="email" ng-model="user.username" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input  class="form-control" type="password" ng-model="user.password" />
    </div>
    <div class="form-group">
        <label for="firstname">First Name:</label>
        <input  class="form-control" type="text" ng-model="user.first_name" />
    </div>
    <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input  class="form-control" type="text" ng-model="user.last_name" />
    </div>

    <input class="form-control btn btn-primary btn-md btn-block" type="submit" name="submit" value="Register" />
    <a class="col-xs-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-2 col-md-8 col-md-offset-2 cancelLink" href="#home">Cancel</a>
  </form>

</div>
