<div class="container">
    <div class="page-header">
      <h1 id="welcome" class="lead">You got this {{selectedSecondaryUser.first_name}}!</h1>
    </div>
    <div class="row">
      <div ng-controller="SecondaryController">
            <div col-sm-12 style="width: 55% float: right position: relative ">
            <canvas id="pieChart" height="300" width="300" border="1px"></canvas>
            </div>
      </div>
    </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

      <div class="row">
        <div ng-controller="SecondaryController" >
          <label for="taskdate">Date:</label>
          <input type="date" ng-model="searchObject.date" ng-change="changeDate(searchObject.date)"/>
          <!-- {{searchObject}} -->
          <!-- <div ng-repeat= "task in assignedTaskObject.assignedTask | myDateFormat: searchObject"> -->
            <div class="space" ng-repeat= "task in assignedTaskObject.assignedTask">
            <div ng-hide="task.completed">
              <button class="btn btn-primary btn-xs space"type="btn btn-default" ng-model="task" ng-click="clickCheckbox(task, searchObject.date)">Done</button>
              <!-- <span>{{task.date | date: 'shortDate'}}</span> -->
                    {{task.task_name}}
                    <!-- {{task.date | date: "MM/dd/yyyy"}} vs {{searchObject | date: "MM/dd/yyyy"}} -->
              </div>
          </div>
       </div>
      </div>





    </div>
  </div>
</div>
