<div class="container">

      <div ng-controller="DynamicChartController">
            <div col-sm-12 style="width: 55% float: right position: relative ">
            <canvas id="pieChart" height="300" width="300" border="1px"></canvas>
            </div>
      </div>

      <!-- <div class="row">
        <div ng-controller="UserController" >

            <div ng-repeat= "task in taskObject.taskList">

              <div ng-hide="task.completed">
                <button type="btn btn-default" ng-model="task" ng-click='clickCheckbox(task)'>Done</button>
                  {{task.name}}
                </div>
            </div>
        </div>
      </div> -->
    <!-- <form ng-submit="logIn(user)">
      <div>
          <label for="username">Username:</label>
          <input type="text" ng-model="user.username" />
      </div>
      <div>
          <label for="password">Password:</label>
          <input type="password" ng-model="user.password" />
      </div>
      <div>
          <input class="btn btn-default" type="submit" name="submit" value="Log In" />

      </div>
    </form> -->

</div>
