<div class="container">
    <h1 id="welcome" class="lead">Welcome, {{first_name}}!</h1>

<div class="row">
  <div ng-controller="UserController">
    <table class = "table-striped table-hover col-md-6">
    <tr>
      <th col-md-6>Student</th>
      <th col-md-6>Assign Tasks</th>
    </tr>
    <tr ng-repeat="secondary in secondaryUserObject.secondary_user">
      <td col-md-6>
        {{secondary.first_name}}
        <button class="btn btn-default" ng-click="assignTaskView($index)">Assign Tasks</button>
      </td>
    </tr>
    </table>

  </div>
</div>
    <button class="btn btn-default" ng-click="newUserView()">Add New User</button>
    <button class="btn btn-default" ng-click="logout()">Log Out</button>
<!-- <div ng-controller="AssignTaskController">
  <button class="btn btn-default" ng-click="assignTaskView()">Assign Tasks</button>
</div> -->

<div ng-controller="TaskListController">
  <button class="btn btn-default" ng-click="newTaskView()">Add New Task</button>
</div>


<!-- <div class="row">
  <div ng-controller="UserController" >

      <div ng-repeat= "task in taskObject.taskList">

        <div ng-hide="task.completed">
          <button type="btn btn-default" ng-model="task" ng-click='clickCheckbox(task)'>Done</button>
            {{task.name}}
          </div>
      </div>
  </div>
</div> -->


</div>
