<div class="container">

      <div ng-controller="StaticChartController">
            <div col-sm-12 style="width: 55% float: right position: relative ">
            <canvas id="pieChart" height="300" width="300" border="1px"></canvas>
            </div>
      </div>

    <form ng-submit="logIn(user)">
      <div>
          <label for="username">Username:</label>
          <input type="text" ng-model="user.username" />
      </div>
      <div>
          <label for="password">Password:</label>
          <input type="password" ng-model="user.password" />
      </div>
      <div>
          <input class="btn btn-default" type="submit" name="submit" value="Log In" />
          <br>
          <a href="#register">Create New Account</a>
      </div>
    </form>

</div>
