<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Task App</title>
        <link rel="stylesheet" href="/vendors/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/style.css">

        <script type="text/javascript" src="/vendors/angular.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
        <script type="text/javascript" src="/scripts/clientapp.js"></script>
        <script type="text/javascript" src="/scripts/factories/AccountService.js"></script>
        <script type="text/javascript" src="/scripts/controllers/loginController.js"></script>
        <script type="text/javascript" src="/scripts/controllers/ChartController.js"></script>
        <script type="text/javascript" src="/scripts/controllers/userController.js"></script>
        <script type="text/javascript" src="/scripts/controllers/TaskListController.js"></script>
        <script src="/vendors/chart.js/dist/Chart.min.js"></script>


    </head>

    <body>
      <header ng-include="'/views/partials/header.html'"></header>

      <main ng-view></main>

    </body>
</html>
